{% extends 'base.html' %}
{% block title %}Iniciar Sesion{% endblock %}
{% block body %}
{% load bootstrap %}
    <!--
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">

                    {% block navbar_collapse_nav %}{% endblock %}

                </div>
 </nav>
<div class="mt-5"></div>
-->
    <div class="container">
<h2>Iniciar Sesion</h2>
<form role="form" method="post">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

{% endblock %}