APScheduler==3.6.1
Babel==2.9.1
dj-database-url==0.5.0
Django==2.2.6
django-compat==1.0.15
django-cors-headers==3.1.1
django-extensions==2.2.5
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.10.3
psycopg2==2.8.3
pyserial==3.4
pytz==2018.5
six==1.12.0
tzlocal==2.0.0
whitenoise==4.1.3
