{% extends 'base.html' %}


{% block title %}Volumen Tanque Tiempo Real{% endblock %}


{% block body %}
    <h2>Prueba Arduino</h2>
    <div id="chart-1"></div>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}

    <input type="hidden" id="warning" value="{{ warning }}">
    

    <script>
        jQuery(document).ready(function ($) {
            var warn = $('#warning').val();
            if (warn) {
                Swal.fire({
                    type: 'error',
                    title: 'Nivel de Tanque Critico!',
                    text: 'el nivel del tanque esta por debajo del 30%, se recomienda racionar'
                });

            }

        });
    </script>


{% endblock %}