<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Fabian Cudis">
    <title>{% block title %}Parimapp{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "cond/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "cond/css/simple-sidebar.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "cond/fusioncharts/fusioncharts.js" %}"></script>


</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Parimapp
                    </a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}">Perfil</a>
                </li>
                    <li>
                        <a href="{% url 'prueba' %}">Tanque de Agua</a>
                    </li>
                {% endif %}

                {#                <li>#}
                {#                    <a href="#">Events</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                    <a href="#">About</a>#}
                {#                </li>#}

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                </li>
                    <li>
                        <a href="{% url 'edit' %}">Editar Perfil</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Iniciar Sesion</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Registro</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {#                <h1>Simple Sidebar</h1>#}
                {#                <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>#}
                {#                <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>#}
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Desplegar Menu</a>
                <button type="button" class="btn btn-primary" onclick="javascript:void(document.body.style.fontSize='20px',
                document.getElementById('sidebar-wrapper').style.backgroundColor='yellow',
                document.body.style.color='#000000')"> Cambiar Estilo</button>

            </div>
            {% block body %}

            {% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "cond/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "cond/js/jquery.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>
    <script>
        $('.datepicker').datepicker();
    </script>

</body>
</html>