{% extends 'base.html' %}

{% block title %}Historial tanque{% endblock %}

{% block body %}
    <h2>Historial Tanque</h2>


    <button id="renderBtn">
        Render
    </button>

    <div class="container">
        <canvas id="myChart"></canvas>
        <h1>Date range</h1>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Date range</span>
            </div>
            <input type="text" placeholder="Start date" aria-label="First name" class="form-control start-date">
            <input type="text" placeholder="End date" aria-label="Last name" class="form-control end-date">
        </div>


    </div>
    <script>
        function renderChart(data, labels) {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Nivel del tanque',
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',

                    }]
                },
            });
        }

        function getChartData() {
            data = [];
            labels = [];

            jQuery.ajax({
                url: "{% url 'chart_data' %}",
                success: function (json) {
                    for (i in json) {
                        data.push(json[i].volumen);
                        labels.push(json[i].time);
                        // TODO: arreglar orden de fechas.
                        // TODO: ponerle litros a los numeros.
                    }
                    renderChart(data, labels);
                },
                error: function (err) {
                    alert("Ups, algo salio mal");
                }
            });
        }


        $("#renderBtn").click(
            function () {
                getChartData();

            }
        );
    </script>

    <script>

        $.noConflict();
        jQuery(document).ready(function ($) {
            $(function () {
                var $startDate = $('.start-date');
                var $endDate = $('.end-date');
                $startDate.datepicker({
                    autoHide: true,
                });
                $endDate.datepicker({
                    autoHide: true,
                    startDate: $startDate.datepicker('getDate'),
                });
                $startDate.on('change', function () {
                    $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
                });
            });
        });


    </script>



{% endblock %}