{% extends 'base.html' %}

{% block title %}Historial tanque{% endblock %}

{% block body %}
    <h2>Historial Tanque</h2>


    <button id="renderBtn">
        Render
    </button>

    <div class="container">
        <canvas id="myChart"></canvas>
        <h1>Rango de fecha</h1>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Seleccione el rango de fecha al consultar historial volumen del tanque</span>
                {% comment %}TODO: poner un cuadro con data por defecto.
                TODO: poner un mensaje si hay o no ntrada d agua d la calle
                 {% endcomment %}
            </div>
            <input type="text" id="start_date" placeholder="fecha inicial" aria-label="First name"
                   class="form-control start-date">
            <input type="text" id="end_date" placeholder="fecha final" aria-label="Last name"
                   class="form-control end-date">
            <input type="text" id="water_supply" value="{{ water }}">
            <button id="dateSubmit">Enviar</button>
        </div>

        <table id="tabla_tanque" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Volumen</th>
            </tr>
            </thead>
            <tbody>
            {% for item in tank %}
                <tr>
                    <td>{{ item.time }}</td>
                    <td>{{ item.volumen }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Fecha</th>
                <th>Volumen</th>
            </tr>
            </tfoot>
        </table>


    </div>
    <script>
        function renderChart(data, labels) {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Nivel del tanque',
                        data: data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',

                    }]
                },
            });
        }

        function getChartData() {
            data = [];
            labels = [];

            jQuery.ajax({
                url: "{% url 'chart_data' %}",
                success: function (json) {
                    for (i in json) {
                        data.push(json[i].volumen);
                        labels.push(json[i].time);
                        // TODO: arreglar orden de fechas.
                        // TODO: ponerle litros a los numeros.
                    }
                    renderChart(data, labels);
                },
                error: function (err) {
                    alert("Ups, algo salio mal");
                }
            });
        }


        $("#renderBtn").click(
            function () {
                getChartData();

            }
        );
    </script>

    <script>

        $.noConflict();
        jQuery(document).ready(function ($) {
            $(function () {
                var $startDate = $('.start-date');
                var $endDate = $('.end-date');
                $startDate.datepicker({
                    autoHide: true,
                });
                $endDate.datepicker({
                    autoHide: true,
                    startDate: $startDate.datepicker('getDate'),
                });
                $startDate.on('change', function () {
                    $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
                });
            });
            var water = $('#water_supply');
            if (water.val() === true) {
                water.notify("Servicio de Hidrocentro activo", "success");
            } else {
                water.notify("Servicio de Hidrocentro Temporalmente inactivo se recomienda racionar", "warn");
            }
        });


    </script>

    <script>

        jQuery("#dateSubmit").click(
            function () {
                getChartRange();

            }
        );

        function getChartRange() {
            var start_date = jQuery('.start-date').val();
            var end_date = jQuery('.end-date').val();
            var json = {
                start: start_date,
                end: end_date
            };
            console.log(json);
            console.log(JSON.stringify(json));
            var data = [];
            var labels = [];
            jQuery.ajax({
                url: "{% url 'chart_data' %}",
                contentType: "application/json",
                data: json,


                method: "GET",

                    success: function (jso) {
                        for (i in jso) {
                            data.push(jso[i].volumen);
                            labels.push(jso[i].time);

                        }
                        renderChart(data, labels);
                        {% comment %}for (x in jso){
                            console.log(jso[x].start_date);
                            console.log(jso[x].end_date);

                        }{% endcomment %}
                        console.log("Json enviado con exito");
                        console.log(jso);

                    },
                    error: function (err) {
                        alert("Ups, algo salio mal");
                    }


                }
            );

        }


    </script>

    <script>
        jQuery(document).ready(function () {
            jQuery('#tabla_tanque').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'pdf'
                ]
            });
        });
    </script>



{% endblock %}