{% extends 'base.html' %}


{% block title %}Luces{% endblock %}
{% load static %}

{% block body %}
<style>
    .container {
        height:100%;
        width:100%;
        margin: 0 auto;
    }
    
    .modulo {
      display: flex;
      flex-wrap:wrap;
      margin:-10px 0 0 -10px;
    }

    .modulo-item {
      margin:10px 0 0 10px;
      height:100%;    
      width: calc(100% * (1/3) - 10px - 1px);
      text-align: center;
    }
    .spacing {
      margin-bottom: 10px;
    }

    .btn-toggle {
      margin: 0 4rem;
      padding: 0;
      position: relative;
      border: none;
      height: 1.5rem;
      width: 3rem;
      border-radius: 1.5rem;
      color: #6b7381;
      background: #bdc1c8;
    }
    .btn-toggle:focus,
    .btn-toggle.focus,
    .btn-toggle:focus.active,
    .btn-toggle.focus.active {
      outline: none;
    }
    .btn-toggle:before,
    .btn-toggle:after {
      line-height: 1.5rem;
      width: 4rem;
      text-align: center;
      font-weight: 600;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      transition: opacity 0.25s;
    }
    .btn-toggle:before {
      content: 'Off';
      left: -4rem;
    }
    .btn-toggle:after {
      content: 'On';
      right: -4rem;
      opacity: 0.5;
    }
    .btn-toggle > .handle {
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 1.125rem;
      background: #fff;
      transition: left 0.25s;
    }
    .btn-toggle.active {
      transition: background-color 0.25s;
    }
    .btn-toggle.active > .handle {
      left: 1.6875rem;
      transition: left 0.25s;
    }
    .btn-toggle.active:before {
      opacity: 0.5;
    }
    .btn-toggle.active:after {
      opacity: 1;
    }

    .btn-toggle.active {
      background-color: #29b5a8;
    }

</style>
    <div class="site-card">
        <div class="site-card-title">
            <span>Modulo</span>
        </div>
        <div class="site-card-content">
            <form id="luces_form">
              <div class="container">
                <div class="modulo">
                    <div class="modulo-item">
                        <h4>Areas Verdes</h4>
                        <img src="https://placeimg.com/400/400/any" alt="" class='spacing'>
                        <button type="button" id='activate' class="btn btn-toggle " data-toggle="button" name="LED1" autocomplete="off">
                            <div class="handle"></div>
                        </button>
                    </div>
                    <div class="modulo-item">
                        <h4>Areas Verdes</h4>
                        <img src="https://placeimg.com/400/400/any" alt="" class='spacing'>
                        <button type="button" id='activate' class="btn btn-toggle " name="LED2" data-toggle="button" autocomplete="off">
                            <div class="handle"></div>
                        </button>
                    </div>
                    <div class="modulo-item">
                        <h4>Areas Verdes</h4>
                        <img src="https://placeimg.com/400/400/any" alt="" class='spacing'>
                        <button type="button" id='activate' class="btn btn-toggle " name="LED3" data-toggle="button" autocomplete="off">
                            <div class="handle"></div>
                        </button>
                    </div>
                    <div class="modulo-item">
                        <h4>Areas Verdes</h4>
                        <img src="https://placeimg.com/400/400/any" alt="" class='spacing'>
                        <button type="button" id='activate' class="btn btn-toggle " name="LED4" data-toggle="button" autocomplete="off">
                            <div class="handle"></div>
                        </button>
                    </div>
                </div>
              </div>
                
            </form>
        </div>
        <script>
					$('.btn-toggle').click((e) => {
						e.target.classList.toggle('active');
						$.ajax({
							url: '/accounts/ajax/' + e.target.name + '/',
							type: 'GET',
							success: (function (data) {
								alert(data);
							})
						});
					});
          

        </script>
    </div>

{% endblock %}