{% extends 'base.html' %}


{% block title %}Vigilancia{% endblock %}


{% block body %}

    <style>
        .container {
            height:100%;
            width:100%;
            border: 1px solid black;
        }
        
        .cameras {
          display: flex;
          flex-wrap:wrap;
          margin:-10px 0 0 -10px;
        }

        .camera {
          margin:10px 0 0 10px;
          height:100%;    
          width: calc(100% * (1/3) - 10px - 1px);
          text-align: center;
          background-color: #666;
          color: #fff;
        }
    </style>


    <div id="container">
      <div class="cameras">
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
          <div class="camera">
              <video autoplay="true" class="streaming-camera"></video>
              <h1> Estacionamiento.</h1>
          </div>
      </div>
        
    </div>

    <script>
        
        var cameras = document.getElementsByClassName("streaming-camera");
        [...cameras].map(item => {
          if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (stream) {
                    item.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
          }
        })
        
    </script>


{% endblock %}